*{
    box-sizing: border-box;
}
body{
    background-image: url(./image/mountains-morning-snow-rock-mountain-landscape.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.nav-item a{
    color: white !important;
}
hr{
    color: white;
}
.btn{
    color: black;
    border-radius: 20px;
    
}
.text{
    font-size: 20px;
}